.tree-item {
  width: 115px;
  height: 115px;
  border-radius: 10px;
  background-color: var(--color-background-tree-item);
  background-size: auto 110px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (max-width: 1368px) {
    width: 100px;
    height: 100px;
  }
}
