.favorite-toy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 84px;
  height: 84px;
  // width: 25%;
  // max-width: 84px;
  // min-height: 84px;
  border-radius: 10px;
  background-color: var(--color-background-tree-item);
  @media (max-width: 1368px) {
    width: 70px;
    height: 70px;
  }

  &__count {
    position: absolute;
    z-index: 30;
    align-self: flex-end;
    right: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    // padding: 0;
    // margin: 0;
    // margin-left: 60px;
    border-radius: 10px;
    background-color: var(--color-border);
    font-size: 14px;
    font-weight: 900;
    @media (max-width: 1368px) {
      width: 17px;
      height: 17px;
      line-height: 20px;
      font-size: 13px;
    }
  }

  &__image {
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    object-fit: contain;
    cursor: move;
  }
}
