.tree-background {
  width: 65px;
  height: 65px;
  border: 1px solid #cccc;
  border-radius: 10px;
  background-color: var(--color-background-tree-item);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (max-width: 1368px) {
    width: 55px;
    height: 55px;
  }
}
