@import '../../../sass/abstracts/placeholders';

.tree {
  display: flex;

  &__settings {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 25px 25px 25px 0;
    transition: transform 0.3s;

    @media (max-width: 1150px) {
      position: absolute;
      transform: translateX(-100%);
    }

    &_open {
      z-index: 90;
      display: flex;
      width: 350px;
      height: calc(100vh - 140px);
      border: 1px solid var(--color-border);
      background-color: var(--color-background-container);
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
      box-shadow: 0 0 10px rgb(150 150 150 / 50%);
      transform: translateX(0);
    }
  }

  &__audio-snowflaks {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 40px;
  }

  &__choose-tree,
  &__choose-background {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__items-bg-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__garland-container {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @media (max-width: 1368px) {
      column-gap: 15px;
    }
  }

  &__garland-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 10px;

    @media (max-width: 1368px) {
      width: 200px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('../../../assets/bg/1.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 140px);
    min-height: 750px;
    width: 50%;
    padding-bottom: 20px;
    overflow: hidden;

    @media (max-width: 1368px) {
      width: 75%;
    }
  }

  &__main-tree {
    width: 500px;
    height: 714px;
  }

  &__toys {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 25px 0 25px 25px;
  }
  &__toys-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    width: 100%;
  }
}
