.tree {
  display: flex;

  &__settings {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 25px;
  }

  &__audio-snowflaks {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 40px;
  }

  &__choose-tree,
  &__choose-background {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__items-bg-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__garland-container {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  &__garland-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 10px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('../../../assets/bg/1.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 140px);
    min-height: 750px;
    width: 800px;
    padding-bottom: 20px;
    overflow: hidden;
  }

  &__main-tree {
    width: 500px;
    height: 714px;
  }

  &__toys {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 25px;
    padding-left: 25px;
  }
  &__toys-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    width: 100%;
  }
}
