@import '../../../../../sass/abstracts/placeholders';
@import '../../../../../sass/abstracts/constants';

.shape {
  display: flex;
  align-items: center;

  &__button {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 6px 6px;
    border: 0;
    outline: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    mask-size: cover;
    @extend %transition;

    &_active {
      background-color: var(--color-filter-button-active);
    }

    &:hover {
      background-color: var(--color-filter-button-hover);
    }

    &_ball {
      margin-left: 20px;
      mask-image: url('../../../../../assets/svg/ball.svg');
    }

    &_figurine {
      mask-image: url('../../../../../assets/svg/toy.svg');
    }

    &_bell {
      mask-image: url('../../../../../assets/svg/bell.svg');
    }

    &_cone {
      mask-image: url('../../../../../assets/svg/cone.svg');
    }
    &_snowflake {
      mask-image: url('../../../../../assets/svg/snowflake.svg');
    }
  }
}
