@import '../../../../sass/abstracts/constants';

.toy-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 280px;
  height: 280px;
  padding: 10px 0 0 10px;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  background-color: var(--color-background-container);
  backdrop-filter: blur(6px);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(150 150 150 /0.5);

  &__title {
    width: 100%;
    font-size: 20px;
    font-stretch: condensed;
    padding-left: 10px;
    text-align: center;
  }

  &__img {
    width: 90px;
    height: 112px;
    object-fit: contain;
    pointer-events: none;
  }
  &__description {
    width: 155px;
    pointer-events: none;
    line-height: 1;
    user-select: none;
  }

  &__amount,
  &__year,
  &__shape,
  &__color,
  &__size,
  &__favorite {
    margin: 18px 0;
  }
}

.ribbon {
  position: absolute;
  width: 85px;
  height: 50px;
  top: 200px;
  left: -10px;
  background-color: var(--color-ribbon);
  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid #14455b;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #14455b;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    border-left: 25px solid var(--color-ribbon);
    border-right: 25px solid transparent;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }
  &_checked {
    background-color: var(--color-filter-button-active);
    &::after {
      border-left: 25px solid var(--color-filter-button-active);
    }
  }
}
